<nav class="navbar navbar-light bg-light justify-content-between mt-3">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="orderDate()">Orden por fecha</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="orderPrice()">Orden por precio</a>
      </li>
    </ul>
    <form class="d-flex mb-0">
      <input
        class="form-control me-2"
        type="text"
        [(ngModel)]="search"
        name="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </div>
</nav>

<app-evento-add [newEvento]=newEvento (eventAfegit)='addEvento()'></app-evento-add>

<div
  class="mb-4 mt-4 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4"
  *ngIf="llistaEvents && llistaEvents.length"
>
  <!-- Aquí listaremos los eventos -->

    <app-evento-item class="card" class="col" *ngFor="let indice=index; let evento of llistaEvents | eventoFilter: search" [evento]='evento' (eventoBorrat)='borraEvento(indice)'></app-evento-item>

  <div class="col" *ngIf="!llistaEvents">
    <h3>No hi ha events disponibles</h3>
  </div>
</div>
