<div class="mb-4 mt-4 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
  <!-- Aquí listaremos los eventos -->
  <div class="col" *ngFor="let evento of llistaEvents">
    <div class="card" *ngIf="llistaEvents && llistaEvents.length">
      <div class="card-body">
        <h4 class="card-title">{{evento.title}}</h4>
        <p class="card-text">{{evento.description}}</p>
      </div>
      <div class="card-footer text-muted">
        {{evento.date}}
        <span class="float-end">{{evento.price}}€</span>
      </div>
    </div>
  </div>
  <div class="col" *ngIf="!llistaEvents">
    <h3>No hi ha events disponibles</h3>
  </div>
</div>
